section.journey-detail
	.container
		.lookbook-title
			p Journey
			time September 2016 (18)
		.row
			.col-md-8.col-lg-9
				.journey-title
					h1 Ha Noi
					p The Memmories
				.journey-content
					img(src="./img/lookbook/h01.jpg", alt="1")
					br
					p This tale begins with our namesake’s profession: the ambassador. Like all envoys, the original ambassador’s job was to be the manifestation of his homeland on foreign soils. But, he was always different. Regardless of where his work took him, he stood out and became renowned for his refined taste for everything vintage.
					img(src="./img/lookbook/h01.jpg", alt="1")
					p This tale begins with our namesake’s profession: the ambassador. Like all envoys, the original ambassador’s job was to be the manifestation of his homeland on foreign soils. But, he was always different. Regardless of where his work took him, he stood out and became renowned for his refined taste for everything vintage.
				.lookbook-next
					a(href="#") Next
			.col-md-4.col-lg-9
				.journey-archive
					-for(i = 0; i < 6; i++)
						.item
							h3 Popular Posts
							p
								a(href="#") Ha Noi, The memories
							p
								a(href="#") Ha Noi, The memories
							p
								a(href="#") Ha Noi, The memories