footer
	.top-footer
		.container
			.row
				-for(i = 0; i < 3; i++)
					.col-6.col-lg-3
						.footer-item
							h3 Services
							ul
								li 
									a(href="#") Engraving & Embossing
								li 
									a(href="#") Gift Wrapping
								li 
									a(href="#") Shipping & Delivery
								li 
									a(href="#") Returns & Guarantee
				.col-6.col-lg-3
					.Module.Module-142
						h3.module-title Email Sign-up
						.subscribe
							div
								.subscribefrm
									input.subscribeemail(type="text" placeholder="Email adress")
									button.subscribebutton
										| Đăng ký
									span.fa.fa-exclamation-triangle(style="display:none;")
										| Vui lòng nhập
										| email.
									span.fa.fa-exclamation-triangle(style="display:none;")
										| Email không hợp
										| lệ.
					h3 Follow us
	.line
	.bottom-footer
		.container
			.row
				.col-12
					.copyright 2019 Keindeman