section.lookbook
	.container
		.row
			.col-12
				.lookbook-title
					p Look Books
					time May 09, 2017
					h2 THE KEIN NO.1 SPRING 2018
				.lookbook-content
					-for(i = 0; i < 5; i++)
						img(src="./img/lookbook/h01.jpg", alt="1")
				.lookbook-next
					a(href="#") Next